.w3-five {
    width: 20%;
    float: left;
    padding: 0 5px !important;
}
.w3-five img {
    width: 100%;
    height: 175px;
}
.menux img {
    width: 20px;
    height: 20px;
}
.menux .facebook {
    width: 40px;
    height: 40px;
}
body {
    /*background-image: url("../img/estrellas.gif");*/
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 600px) {
    .w3-five img {
        width: 120%;
        height: 150px;
    }
    .w3-five {
        width: 110%;
        /*height: 200px;*/
        float: none;
        /*padding: 0px !important;*/
    }
}
