#code_myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#code_myImg:hover {
    opacity: 0.7;
}
/* The Modal (background) */

#code_img01 {
    margin: auto !important;
}
.code_modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}
/* Modal Content (image) */

.code_img_modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    margin: auto !important;
}
/* code_Caption of Modal Image */

#code_caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation */

.code_img_modal-content,
#code_caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}
@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
/* The code_Close Button */

.code_close {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.code_close:hover,
.code_close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */

/*@media only screen and (max-width: 700px) {
    .code_img_modal-content {
        width: 100%;
    }
}*/
