/*.acordeon_item {
    padding-bottom: 15px;
}
.acordeon .w3-container h4 {
    font-weight: bold;
    margin-top: 200px !important;
    color: blue;
}*/

.acordeon .w3-container li {
    margin-bottom: 10px;
}
.image_click {
    margin-right: 25px;
    width: 100px;
    height: 100px;
    margin-top: 100px;
}
